{% extends 'base.html' %}
{% load static %} 
{% block content %}
    <h2>Add Ingredient to Inventory</h2>
    <div>
        <h2>Ingredients</h2>
        <a href = "{% url 'createingredient' %}">Add Ingredients</a>
        <table class="inventory-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Unit</th>
                    <th>Unit Price</th>
                </tr>
            </thead>
            <tbody>
            {% for ingredient in ingredient_list %}
                <tr>
                    <td>{{ ingredient.name }}</td>
                    <td>{{ ingredient.quantity }}</td>
                    <td>{{ ingredient.unit }}</td>
                    <td class="price">${{ ingredient.unit_price|stringformat:".2f" }}</td>
                    <td><a href="{% url 'updateingredient' ingredient.id %}"><button>Update</button></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}