{% extends 'base.html' %}
{% load static %} 
{% block title %}Django Delights{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
    <h2>Menu Items<h2>
    <a href = "{% url 'createmenuitem' %}">Add Menu Item</a>
    <a href = "{% url 'createmenuitem' %}">Add Menu Item</a>
    <hr/>
    <ul>
    {% for menu_item in menuitems_list %}
    <li>
        <div>
            <div>{{ menu_item.title }}</div>
            <div class="menu-item-price">${{ menu_item.price|stringformat:".2f" }}</div>
        </div>
    </li>

    {% endfor %}
    </ul>
{% endblock %}